<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="InputConfigFilePath" value="C:\Users\320050765\PhilipsCaseStudy-2\InputExePaths.xml" />
    <add key="OutputFilePath" value="C:\Users\320050765\PhilipsCaseStudy-2\AnalyzerOutput.txt" />
  </appSettings>
</configuration>